// media-queries
$media-xs: 320px;
$media-xs-add: 480px;
$media-sm: 768px;
$media-md: 1024px;
$media-lg: 1224px;
$media-xl: 1400px;

// font weight
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// colors
$black: #1c0907;
$brown: #5c2018;
$terracota: #bc4639;
$pink-sand: #d4a59a;
$pink-gray: #f3e0dc;
$accent-blue: #4285f4;
